* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
p {
  color: gray;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
  font-size: 40px;
  margin: 30px;
  padding: 40px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer h1 {
  text-align: center;
  color: rgb(210, 66, 30);
}
small {
  text-align: center;
}
.banner-bg {
  width: 100%;
  height: 600px;
  background-image: url(img/images/donation3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  text-align: center;
}
.humajity-heading {
  font-size: 60px;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-top: 100px;
}
.humanity {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 40px;
  line-height: 35px;
}
.donate {
  font-size: 20px;
  padding: 10px;
  background-color: tomato;
  text-decoration: none;
  color: white;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}
.donate:hover {
  background-color: rgb(255, 2, 87);
}
.donate-today {
  width: 80%;
  height: 500px;
  margin: 30px;
  padding: 50px;
  text-align: center;
}

.why-donate {
  padding: 10px 110px;
  margin: 30px;
  text-align: center;
}
.donation-amount {
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}
.specific-donation {
  background-color: rgb(238, 241, 245);
  border-radius: 5px;
  margin: 10px;
  padding: 40px;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
}
.specific-donation:hover {
  border: 2px solid tomato;
  background-color: rgba(255, 99, 71, 0.288);
  color: tomato;
  transition: 0.2s;
  /* cursor: none; */
}
.donate-ability {
  display: flex;
  text-align: center;
  list-style: none;
  margin-left: 100px;
  color: gray;
}
div ul li.active {
  border: 2px solid tomato;
  background-color: rgba(255, 99, 71, 0.288);
  color: tomato;
}
.other-amount {
  border: none;
  color: gray;
}
.line-horigental {
  margin-left: 100px;
  margin-right: 100px;
}
.donate-plan {
  text-align: center;
  margin: 50px;
}
.donate-items {
  display: flex;
  margin: 40px;
  padding: 40px;
}
.image {
  align-items: left;
  margin-top: 40px;
}
.donate-item-list {
  border: 10px solid white;
  padding: 20px;
}
#color1 {
  background-color: aliceblue;
}
#color2 {
  background-color: rgba(197, 214, 169, 0.562);
}
#color3 {
  background-color: rgba(221, 204, 173, 0.493);
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.become-donar {
  margin-bottom: 20px;
}
.image-size {
  margin-top: 80px;
}
.my-update {
  width: 50%;
  height: 150px;
  background-color: rgba(170, 170, 115, 0.541);
  text-align: center;
  margin-left: 300px;
  display: flex;
  padding-top: 10px;
}

.contract1 {
  margin: auto;
  padding: 8px 250px 8px 8px;
  background-color: rgba(189, 186, 175, 0.651);
  font-weight: 400;
  color: rgb(83, 83, 83);
}
.contract2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80px;
  background-color: tomato;
  color: white;
  padding-left: 10px;
}
.footer-section {
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: 100px;
  text-align: center;
  padding-top: 40px;
  font-family: "Lobster", cursive;
}
.woner-name {
  font-family: "Roboto", sans-serif;
}
.float {
  display: inline-flex;
  margin: auto;
}
.donate2 {
  font-size: 20px;
  margin: auto;
  padding: 10px;
  background-color: tomato;
  text-decoration: none;
  color: white;

  text-align: center;
  align-items: center;

  border: 0;
  cursor: pointer;
}
